.primaryAction {
  background-color: #242424;
  width: 248px;
  height: 56px;
  text-transform: uppercase;
}

.secondaryAction {
  background-color: rgba(36, 36, 36, 0.5);
  width: 248px;
  height: 56px;
  text-transform: uppercase;
  border: 1px solid rgba(255, 255, 255, 0.5);;
}