.movieListItem {
  background-image: url("");
  border-radius: 5px;
  width: 220px;
  height: 146px;
  text-align: center;
  position: relative;
  margin-top: 32px;
  display:"flex";
  flex-direction:"column";
  align-items:"center";
  justify-content:"center";
  height:"100%";
}

.movieListItem:hover {
  opacity: .8;
  cursor: pointer;
}

.movieListItem p {
  color: #fff;
  font-size: 16px;
}

.movieListItem svg {
  color: #fff;
  height: 40px;
  width: 40px;
}

.movieListItemDetails {
  position: absolute;
  bottom: 0;
  width: 220px;
}

.star-icon {
  fill: '#64EEBC';
}

svg.star-icon{
  width: 20px;
  height: 20px;
  margin-left: 20px;
}
