.dropzone {
  padding: 0 20px;
}

div.dropzone {
  background-color: transparent;
  border: 2px dashed #fff;
  margin-top: 30px;
  height: 112px;
}

div.dropzone p {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

form {
  text-align: center;
}
