h1, h3 {
  font-family: 'Bebas Neue', 'Arial', 'sans-serif';
}

h1 {
  color: #64EEBC;
  font-size: 120px;
  text-transform: uppercase;
}

h3 {
  color: #fff;
}

.titleContainer {
  text-align: left;
  padding-left: 104px;
}