.title {
  color: #64eebc;
  font-size: 120px!important;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  color: #fff;
  font-weight: 400;
}

.titleContainer {
  text-align: left;
  padding-left: 104px;
}

@media (max-width: 900px) {
  .titleContainer {
    text-align: center;
    padding-left: 0;
  }
}
