.movieListItem {
  background-image: url('');
  border-radius: 5px;
  width: 220px;
  height: 146px;
  text-align: center;
  position: relative;
  margin-top: 32px;
}

.movieListItem p {
  color: #fff;
  font-family: 'Bebas Neue', 'Arial', 'sans-serif';
}

.movieListItem svg {
  color: #fff;
  height: 40px;
  width: 40px;
}

.movieListItemDetails {
  position: absolute;
  bottom: 0;
  width: 220px;
}